/* Styles */

body {
  background-color: black;
  font-size: 16px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-family: inherit;
  color: whitesmoke;
}

.image-container {
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
  }

#front-banner .image-container {
    background-image: url(https://i.imgur.com/Mt6J0YL.png);
  }

#mission .image-container {
    background-image: url(https://i.imgur.com/pRDPIOK.jpg);
  }

  #offer .image-container {
    background-image: url(https://i.imgur.com/HWBDf4A.jpg);
  }

  #hosts .image-container {
    background-image: url(https://i.imgur.com/e8AIwaf.jpg);
  }

  section {
    width: 100%;
    margin: 3.5rem auto;
    display: flex;
    flex-flow: column nowrap;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
    font-family: 'Work Sans', sans-serif;
  }

  img {
    width: 100%;
  }

  .content {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }


  .button {
    border-width:1px;
    border-color:rgba(74, 74, 74, 0.89);
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    border-bottom-left-radius:8px;
    border-bottom-right-radius:8px;
    box-shadow: -7px 10px 14px -7px rgba(0, 0, 0, 1);
    text-shadow: 0px 0px 0px #3d768a;
      }
  
  .button:hover {
    background: linear-gradient(#101213, #4d5052);
  }


  /* Navigation menu */ 
header {
    position: fixed;
    left:0;
    z-index: 10;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: black;
    opacity: 0.9;
    font-family: 'Work Sans', sans-serif;
    }
  
  header .content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
  }

  header nav ul {
    display: flex;
    justify-content: space-between; 
    margin-right: 1rem;  
    }

    li {
        padding: 10px;
        text-decoration: none;
        list-style-type: none; 
        font-size: 1.3rem;
    }

    #desktop-logo {
      font-family: 'Work Sans', sans-serif;
      font-size: 1.3rem;
    }

  header .mobile {
    display: none;
  }

  /*Front banner*/

#front-banner .image-container {
    height: 58rem;
 }  

#front-banner .image-container { 
  display: flex;
  justify-content: center;
  align-items: center;
  }

  #front-banner .image-container .banner h1 {
    font-family: "Kanit", sans-serif;
    font-size: 5rem;
    font-style: italic;
    color: whitesmoke;
    text-shadow: 10px 10px black;
    }


    /*  MAIN SECTION */

    /* Our Mission  */

    #mission .image-container {
       height: 38rem;
    }

    #mission .image-container .content {
        justify-content: center;
        align-items: center;
      }
    #mission .image-container .content #mission-statement {
        height: auto;
        width: 50%;
        flex-grow: 0;
        flex-shrink: 1;
        background-image: linear-gradient(90deg, rgba(241,255,0,0.29175420168067223) 46%, rgba(86,121,9,0.48783263305322133) 61%, rgba(0,16,36,0.5746673669467788) 92%);
        color: whitesmoke;
        font-weight: 600;
        padding: 1rem 5%;
        text-align: center;
        line-height: 1.2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        border-radius: 5px;
      }
     
    .title {
        width: 100%;
        padding: 1.1rem;
        text-shadow: 1px 1px black;
        text-align: center;
        }

      #mission .image-container .content #mission-statement p {
        font-family: "Kanit", sans-serif;
        font-size: 1.2rem;
        }

      #headline {
        font-family: 'Parisienne', cursive;
        color: white;
        font-size: 3rem;
        }

      /* Our Offer  */

      #offer .content .product .product-picture {
        width: 300px;
        height: 200px;
        overflow: hidden;
        border-radius: 5px;
        }

      #offer .content {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-content: space-between;
        flex-flow: row wrap;
        }
    
      #offer .content .product {
        display: flex;
        flex-direction: column;
        opacity: 0.9;
        padding: 1rem;
        margin: 0.5rem;
      }

      /* Hosts  */

      #hosts .content {
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
      }

      #hosts .content .team {
        display: flex;
        flex-direction: column;
        opacity: 0.9;
        padding: 1rem;
        margin: 0.5rem;
      }

      #hosts .content .team .host-pic {
        width: 300px;
        height: 280px;
        overflow: hidden;
        border-radius: 5px;
      }

      .name-full , .product-description {
        font-size: 1.2rem;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
      }

      .name-title {
        background-color: black;
        opacity: 0.9;
        border-radius: 10px;
        font-size: 0.9rem;
        text-align: center;
        font-family: 'Work Sans', sans-serif;
      }

      .name-title h4 {
        opacity: 1;
        color: white;
      }

      .name-full h4 {
        color: white;
        font-weight: 800;
        font-family: 'Times New Roman', Times, serif;
      }

      /*   MEDIA QUERIES*/

      @media only screen and (max-width: 760px) {
        header .desktop {
          display: none;
        }
      

        .content {
          display: flex;
          margin: 0;
          padding: 0;
          width: auto;
                  }

        header {
          position: float;
          left:0;
          width: 100%;
          }

        header .mobile ul {
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 100%; 
          padding: 0;
          margin: 0;         
        }

        header .mobile ul li img {
        height: 30px;
        width: 30px;
        }
        
        header .mobile {
          display: flex;
          width: 100%;
          }

      #headline {
        display: none;
      }

      #desktop-logo {
       display: none;
      }
    
      }
